body {
    font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
    background-color:rebeccapurple;
    color:#FDFDFD;
    font-size:40px
}

.container {
    display:flex;
    height:100vh;
    justify-content:center;
    align-items:center;
    align-content:center;
}

a {
    text-decoration:none;
    color:#FDFDFD;
}

a:hover {
  color:#AAAFFF;
}

ul {
    list-style-type:none;
}

li {
    display:inline;
}
